<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>勤怠入力</title>
</head>
<body>
<div align = "right" >
  <button><a href="https://it-college.edu-sec.jp/login/index.php"> 勤怠入力</a></button>
  <button><a href="https://it-college.edu-sec.jp/login/index.php"> 勤務場所登録</a></button>
  <button><a href="https://it-college.edu-sec.jp/login/index.php"> 連絡先登録</a></button>
  <button><a href="https://it-college.edu-sec.jp/login/index.php"> 勤務状況一覧表示</a></button>
  <button><a href="https://it-college.edu-sec.jp/login/index.php"> 勤務履歴表示</a></button>
  <button><a href="roguin.html"> ログアウト</a></button>
</div>
<div style="text-align: center">
  <p>こんにちは、ななしさん</p>
  <p>状態：未出勤 </p><br>
  <div style="height: 100px">
    <form method="post" action="/attendanceInput">
      <button type="submit">出勤</button>
    </form>
  </div>
  <div>
    <button>退勤</button>
  </div>
</div>
</body>
</html>
